@import "var";
@import "bootstrap";

// Custom SASS/CSS Example for starter template.
// Feel free to delete the lines below and add your own.

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
